<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav id="navWrap">
        <ul>
            <!-- <li class="menu-item find-btn">
                <button>담당자찾기</button>
            </li>
            <hr> -->
            <!-- 하나의 메뉴 1depth 2depth를 감쌈 -->
            <li class="menu-item">
                <!-- menu-icon과 menu-text를 감쌈 -->
                <div class="depth1-wrap">
                    <div class="menu-icon">
                    </div>
                    <div class="menu-text">
                        <p class="text-li"><a href="#" class="menuLink"><span>메뉴1</span></a></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <ul class="depth2-wrap">
                    <li>
                        <!-- 2depth 메뉴명을 나타냄 -->
                        <div class="depth2-text"><a class="menuLink">하위</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!--  3depth 감쌈 -->
                        <ul class="depth3-wrap">
                            <li><a href="/test.html" class="menuLink">하위</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="depth2-text"><a class="menuLink">하위</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <ul class="depth3-wrap">
                            <li><a href="index.html" class="menuLink">하위</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <!-- menu-icon과 menu-text를 감쌈 -->
                <div class="depth1-wrap">
                    <div class="menu-icon">

                    </div>
                    <div class="menu-text">
                        <p class="text-li"><a href="#" class="menuLink"><span>메뉴1</span></a></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <ul class="depth2-wrap">
                    <li>
                        <!-- 2depth 메뉴명을 나타냄 -->
                        <div class="depth2-text"><a class="menuLink">하위</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!--  3depth 감쌈 -->
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">하위</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="depth2-text"><a class="menuLink">하위</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">하위</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <!-- menu-icon과 menu-text를 감쌈 -->
                <div class="depth1-wrap">
                    <div class="menu-icon">
                    </div>
                    <div class="menu-text">
                        <p class="text-li"><a href="#" class="menuLink"><span>메뉴1</span></a></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <ul class="depth2-wrap">
                    <li>
                        <!-- 2depth 메뉴명을 나타냄 -->
                        <div class="depth2-text"><a class="menuLink">메뉴2</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!--  3depth 감쌈 -->
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">메뉴3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="depth2-text"><a class="menuLink">메뉴4</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">메뉴5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <!-- menu-icon과 menu-text를 감쌈 -->
                <div class="depth1-wrap">
                    <div class="menu-icon">
                    </div>
                    <div class="menu-text">
                        <p class="text-li"><a href="#" class="menuLink"><span>메뉴1</span></a></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <ul class="depth2-wrap">
                    <li>
                        <!-- 2depth 메뉴명을 나타냄 -->
                        <div class="depth2-text"><a class="menuLink">메뉴2</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!--  3depth 감쌈 -->
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">메뉴3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="depth2-text"><a class="menuLink">메뉴4</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">메뉴5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <!-- menu-icon과 menu-text를 감쌈 -->
                <div class="depth1-wrap">
                    <div class="menu-icon">
                    </div>
                    <div class="menu-text">
                        <p class="text-li"><a href="#" class="menuLink"><span>메뉴1</span></a></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                            <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <ul class="depth2-wrap">
                    <li>
                        <!-- 2depth 메뉴명을 나타냄 -->
                        <div class="depth2-text"><a class="menuLink">메뉴2</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!--  3depth 감쌈 -->
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">메뉴3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="depth2-text"><a class="menuLink">메뉴4</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"
                                fill="none">
                                <path d="M1 1L5 5L9 1" stroke="#ABB0B9" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <ul class="depth3-wrap">
                            <li><a href="#" class="menuLink">메뉴5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="link-box">
            <div class="link-item">1</div>
            <div class="link-item">2</div>
            <div class="link-item">3</div>
            <div class="link-item">4</div>
            <div class="link-item">5</div>
            <div class="link-item">6</div>
            <div class="link-item">7</div>
            <div class="link-item">8</div>
        </div>
    </nav>
</body>
<script>
    // 메뉴 접기 버튼
    $('#navBtn').on('click', function () {
        const $navWrap = $('#navWrap');
        const $content = $('.content');

        if ($navWrap.css('display') === 'block') {
            $navWrap.css('display', 'none');
            $content.css('width', '100vw');
        } else {
            $navWrap.css('display', 'block');
            $content.css('width', 'calc(100vw - 200px)');
        }
    });

    // 네비게이션 스크립트 실행을 위한 초기 진입함수
    function initNavScript(containerSelector) {
        const $container = $(containerSelector);

        function bindDepth1Events() {
            $container.find(".depth1-wrap").on("click", function () {
                toggleDepth1($(this));
            });
        }

        function toggleDepth1($element) {
            const isActive = $element.hasClass("active");
            const menuId = $element.data("menu");

            $container.find(".depth1-wrap").removeClass("active")
                .next().removeClass("open");

            if (!isActive) {
                $element.addClass("active");
                $element.next().addClass("open");

                if (menuId) activateClosedMenu(menuId);
            }
        }

        function bindDepth2Events() {
            $container.find(".depth2-text").on("click", function (e) {
                e.stopPropagation();
                toggleDepth2($(this));
            });
        }

        function toggleDepth2($element) {
            const $parentWrap = $element.closest(".depth2-wrap");
            const isActive = $element.hasClass("active");

            $parentWrap.find(".depth2-text").removeClass("active")
                .next().removeClass("open");

            if (!isActive) {
                $element.addClass("active");
                $element.next().addClass("open");
            }
        }

        function bindDepth3Events() {
            $container.find(".depth3-text a").on("click", function () {
                const menuId = $(this).closest(".depth3-wrap").data("menu");
                if (menuId) activateClosedMenu(menuId);
            });
        }

        // 실행
        bindDepth1Events();
        bindDepth2Events();
        bindDepth3Events();
    }

    initNavScript("#navWrap");

    // 클래스들을 제거함
    function resetMenu($container) {
        $container.find('.depth1-wrap').removeClass('active');
        $container.find('.depth2-text').removeClass('active');
        $container.find('.depth2-wrap, .depth3-wrap').removeClass('open');
    }
</script>



</html>